/* Declaration variables css*/

:root {
    
    /* Colors */

    --black: #000000;
    --dark-gray: #353535;
    --grey: #cecece;
    --grey-etain:#eaeaea;
    --green: #99E2D0;
    --lightgrey: #f6f6f6;
    --purple: #9356DC;
    --very-light-purple: #f5edff;
    --pink: #FF79DA;
    --white: #ffffff;

    /* Polices */

    --font-shrikhand: "Shrikhand", cursive;

    /* Alignment center */

    --inthecenter: center;
}


/* Padding and border included in the width */

* {
    box-sizing: border-box;
}


/* Body */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color-black);
}

/* Header */

.header {
    display: flex;
    justify-content: var(--inthecenter);
    padding: 15px 106px;
    box-shadow: 0px 3px 5px var(--grey);
    height: 63px;
}

.header__logo {
    font-family: var(--font-shrikhand);
    font-size: 28px;
}

/* Section location */

.location {
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    background-color: var(--grey-etain);
    margin-top: 4px
}

.location__icon {
    position: relative;
    top: -1px;
    right: 18px;
}

.location__text {
    position: relative;
    left: -2px;
    font-weight: 500;
    color: var(--dark-gray);
}

/* Section reservation */

.reservation {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
    background-color: var(--lightgrey);
    padding: 44px;
}

.reservation__title {
    text-align: var(--inthecenter);
    margin: 0px;
}

.reservation__description {
    text-align: var(--inthecenter);
    color: var(--dark-gray);
    margin-bottom: 25px;
}

.button {
    width: 100%;
    max-width: 218px;
    height: 50px;
    background-image: linear-gradient(to bottom,var(--pink),52%,var(--purple));
    color: var(--white);
    font-size: inherit;
    font-family: inherit;
    border-style: initial;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #c6c6c6;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button__clearer:hover {
    box-shadow: 0px 3px 5px var(--gris-fonce);
    opacity: 0.9;
}

/*  Section presentation */

.presentation {
    padding: 20px;
}

.presentation__container {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
}

.presentation__content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.presentation__description__container {
    background-color: var(--lightgrey);
    border: 1px solid  var(--lightgrey);
    border-radius: 21px;
    box-shadow:  2px 2px 10px #e6e6e6;
    width: 100%;
    height: 74px;
    max-width: 322px;
    display: flex;
    justify-content: var(--inthecenter);
    position: relative;
    margin-bottom: 26px;
}

/* Last purple element */

.presentation__content--purple_hover {
    background-color: var(--very-light-purple);
    border-radius: inherit;
    border-color: #f5edff;
    box-shadow:  2px 2px 2px var(--very-light-purple);
}

.presentation__numerotation {
    position: absolute;
    top: 25px;
    left: -14px;
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    background-color: var(--purple);
    color: var(--white);
    font-size: 15px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

/* Icon */

.presentation__icon {
    font-size: 18px;
    color: #7e7e7e;
}

.fa-mobile-alt {
    font-size: 20px;
}

.fa-store {
    color: var(--purple);
}

.presentation__text {
    font-weight: 600;
}

/* Margin text presentation */

.presentation__text--first_margin_on_the_right {
    margin-right: 19px
}

.presentation__text--second_margin_on_the_right {
    margin-right: 15px
}


/* Restaurant card section */

.restaurant {
    background-color: var(--lightgrey);
    padding: 59px 12px;
}

.restaurant__card_setting {
    height: 251px;
    width: 100%;
    max-width: 335px;
    margin-bottom: 18px;
}


.restaurant__card_image_setting {
    width: 100%;
    height: 174px;
    max-width: 335px;
    border-radius: 17px 17px 0px 0px;
}

/* cards images */

.restaurant__card_image--la_palette {
    background: url("../images/la-palette-du-gout.jpg") no-repeat bottom right / cover;
}

.restaurant__card_image--la_note_enchantee {
    background: url("../images/la-note-enchantee.jpg") no-repeat center / cover;
}

.restaurant__card_image--a_la_francaise {
    background: url("../images/a-la-fraicaise.jpg") no-repeat center bottom / cover;
}

.restaurant__card_image--le_delice_des_sens {
    background: url("../images/delice-des-sens.jpg") no-repeat center bottom / cover;
}

/* Pop-up new */

.restaurant__card_pop_up_new {
    display: flex;
    justify-content: flex-end;
    align-items: var(--inthecenter);
}

/* Pop up content */

.restaurant__card_pop_up_content {
    background-color: #99e2d0;
    color: #008766;
    font-weight: 500;
    width: 79px;
    height: 29px;
    border-radius: 2px;
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    margin-top: 18px;
    margin-right: 18px;
}

.restaurant__card_content {
    display: flex;
    justify-content: space-between;
    align-items: var(--inthecenter);
    padding: 14px 20px;
    background-color: var(--white);
    border-radius: 0px 0px 18px 18px;
    box-shadow: 2px 2px 5px #e6e6e6;
    height: 77px;
}

.restaurant__card_description_title {
    margin-top: 20px;
    margin-bottom: 0px;
}

.restaurant__card_description_text {
    font-weight: 300;
    margin-top: 6px;
}

 /* Heart icon */

.heart__icon {
    font-size: 25px;
    cursor: pointer;
}

