/* Declaration variables css*/

:root {

    /* Colors */

    --black: #000000;
    --dark-gray: #353535;
    --grey: #cecece;
    --grey-etain:#eaeaea;
    --green: #99E2D0;
    --lightgrey: #f6f6f6;
    --purple: #9356DC;
    --very-light-purple: #f5edff;
    --pink: #FF79DA;
    --white: #ffffff;
    
    /* Polices */

    --font-shrikhand: "Shrikhand", cursive;
    
    /* Alignment center */

    --inthecenter: center;
    
    /* Gradient */
    
    --color-gradient:linear-gradient(to top,var(--pink),52%,var(--purple));
}


/* Padding and border included in the width */

* {
    box-sizing: border-box;
}

/* Body */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color-black);
}

/* Links */

a {
    text-decoration: none;
    color: var(--black);
}

/* loading */

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    animation: animated-background 4.1s linear forwards;
}

.loading__circle {
    width: 90px;
    height: 90px;
    border: 16px solid var(--lightgrey);
    border-top: 16px solid var(--purple);
    border-right: 16px solid var(--green);
    border-bottom: 16px solid var(--pink);
    border-radius: 50%;
    animation: loading-circle 3s ease-in-out 3,
    loading-circle-hide 2.1s ease-in-out 2s forwards;
}

/* Animations */

@keyframes loading-circle {
    0% {
       transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
}

@keyframes loading-circle-hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animated-background {
    0% , 90% {
        background-color: #ffffffb5;
        z-index: 2;
    }
    100% {
        background-color: #ffffff00;
        z-index: -2;
    }
}

/* Header */

.header {
    display: flex;
    justify-content: var(--inthecenter);
    padding: 15px 106px;
    box-shadow: 0px 3px 5px var(--grey);
    height: 63px;
}

.header__logo {
    font-family: var(--font-shrikhand);
    font-size: 28px;
}

/* location section  */

.location {
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    background-color: var(--grey-etain);
    margin-top: 4px;
}

.location__icon {
    position: relative;
    top: -1px;
    right: 18px;
}

.location__text {
    position: relative;
    left: -2px;
    font-weight: 500;
    color: var(--dark-gray);
}

/* Reservation section */

.reservation {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
    background-color: var(--lightgrey);
    padding: 44px;
}

.reservation__title {
    text-align: var(--inthecenter);
    margin: 0px;
}

.reservation__description {
    text-align: var(--inthecenter);
    color: var(--dark-gray);
    margin-bottom: 25px;
}

.button {
    width: 100%;
    max-width: 218px;
    height: 50px;
    background-image: linear-gradient(to bottom,var(--pink),52%,var(--purple));
    color: var(--white);
    font-size: inherit;
    font-family: inherit;
    border-style: initial;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #c6c6c6;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.button__clearer:hover {
    box-shadow: 0px 3px 5px var(--dark-gray);
    opacity: 0.9;
}

/* Presentation section */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
    padding: 20px;
}

.presentation__title {
    width: 100%;
    max-width: 349px;
}

.presentation__container {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
    width: 100%;
}

.presentation__content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.presentation__description__container {
    background-color: var(--lightgrey);
    border: 1px solid  var(--lightgrey);
    border-radius: 21px;
    box-shadow:  2px 2px 10px #e6e6e6;
    width: 100%;
    height: 74px;
    max-width: 322px;
    display: flex;
    justify-content: var(--inthecenter);
    position: relative;
    margin-bottom: 26px;
}

/* Last purple element */

.presentation__content--purple_hover {
    background-color: var(--very-light-purple);
    border-radius: inherit;
    border-color: #f5edff;
    box-shadow:  2px 2px 2px var(--very-light-purple);
}

.presentation__numerotation {
    position: absolute;
    top: 25px;
    left: -14px;
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    background-color: var(--purple);
    color: var(--white);
    font-size: 15px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

/*  presentation section icon */

.presentation__icon {
    font-size: 18px;
    color: #7e7e7e;
}

.fa-mobile-alt {
    font-size: 20px;
}

.fa-store {
    color: var(--purple);
}

.presentation__text {
    font-weight: 600;
}

/*  Presentation text margin */

.presentation__text--first_margin_on_the_right {
    margin-right: 19px
}

.presentation__text--second_margin_on_the_right {
    margin-right: 15px
}


/* Restaurant card section */

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
    background-color: var(--lightgrey);
    padding: 59px 12px;
}

.restaurant__title {
    margin-top: 0px;
    width: 100%;
    max-width: 340px;
}

.restaurant__card_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
}

.restaurant__card_setting {
    height: 251px;
    width: 100%;
    max-width: 335px;
    margin-bottom: 18px;
}


.restaurant__card_image_setting {
    width: 100%;
    height: 174px;
    max-width: 335px;
    border-radius: 17px 17px 0px 0px;
}

/* cards images */

.restaurant__card_image--la_palette {
    background: url("../images/la-palette-du-gout.jpg") no-repeat bottom right / cover;
}

.restaurant__card_image--la_note_enchantee {
    background: url("../images/la-note-enchantee.jpg") no-repeat center / cover;
}

.restaurant__card_image--a_la_francaise {
    background: url("../images/a-la-fraicaise.jpg") no-repeat center bottom / cover;
}

.restaurant__card_image--le_delice_des_sens {
    background: url("../images/delice-des-sens.jpg") no-repeat center bottom / cover;
}

/* Pop-up new */

.restaurant__card_pop_up_new {
    display: flex;
    justify-content: flex-end;
    align-items: var(--inthecenter);
}

/* Pop up content */

.restaurant__card_pop_up_content {
    background-color: #99e2d0;
    color: #008766;
    font-weight: 500;
    width: 79px;
    height: 29px;
    border-radius: 2px;
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    margin-top: 18px;
    margin-right: 18px;
}

.restaurant__card_content {
    display: flex;
    justify-content: space-between;
    align-items: var(--inthecenter);
    padding: 14px 20px;
    background-color: var(--white);
    border-radius: 0px 0px 18px 18px;
    box-shadow: 2px 2px 5px #e6e6e6;
    height: 77px;
}

.restaurant__card_description_title {
    margin-top: 20px;
    margin-bottom: 0px;
}

.restaurant__card_description_text {
    font-weight: 300;
    font-size: 18px;
    margin-top: 6px;
}

/* Heart icon */

.heart__icon {
    width: 100%;
    max-width: 28px;
    font-size: 26px;
    cursor: pointer;
}

/* Stacking Icons */

.fa-stack {
    width: inherit !important;
}

.fa-stack:hover .normal_heart_icon {
    background-image: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}  

.purple_heart_icon {
    background-image: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    opacity: 0;
    transition:  opacity 0.4s 0.1s ;
}

 .purple_heart_icon:hover {
    opacity: 1;
} 

/* Footer */

.footer {
    background-color: var(--dark-gray);
    padding: 26px 25px;
    color: var(--white);
}

.footer__title {
    margin-top: 0;
    font-family: "Shrikhand", cursive;
    font-weight: 500;
    font-size: 19px;
}

.footer__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* footer icon */

.fa-utensils {
    font-size: 14px;
    margin-right: 13px;
}

.fa-hands-helping {
    font-size: 14px;
    margin-right: 8px;
}

.footer__item {
    margin-bottom: 13px;
}

.footer__content {
    text-decoration: none;
}

/* underline on mouse over */

.footer__content:hover {
    text-decoration: underline;
}

.footer__content--link_color_lightgrey {
    color: #e6e6e6;
}

.footer__content--link_color_darkgrey {
    color: #b3b3b3;
}

/* restaurant menu page */

.header__icon_back_to_home_page {
    display: flex;
    align-items: var(--inthecenter);
    position: relative;
    top: 3px;
    right: 49px;
    font-size: 20px;
    color: var(--dark-gray);
    opacity: 0.8;
}

/* menu image setting */

.menu_image_setting {
    width: 100%;
    height: 257px;
}

/* menu image */

.menu_image--la_palette {
    background: url("../images/la-palette-du-gout.jpg")  no-repeat center / cover;
}


.menu_image--la_note_enchantee {
    background: url("../images/la-note-enchantee.jpg")  no-repeat center / cover;
}

.menu_image--a_la_francaise {
    background: url("../images/a-la-fraicaise.jpg")  no-repeat center / cover;
}

.menu_image--le_delice_des_sens {
    background: url("../images/delice-des-sens.jpg")  no-repeat center / cover;
}

/* restaurant menu section */

.restaurant_menu {
    display: flex;
    flex-direction: column;
    align-items: var(--inthecenter);
    background-color: var(--lightgrey);
    margin-top: -51px;
    border-radius: 44px 44px 0px 0px;
    padding: 0px 14px;
}

.restaurant_menu__title_container {
    display: flex;
    align-items: center;
    font-family: "Shrikhand", cursive;
    width: 100%;
    max-width: 318px;
}

.restaurant_menu__title {
    font-weight: 500;
}

.restaurant_menu__a_la_francaise_title {
 justify-content: space-between;
}

/* menu container */

.restaurant_menu__container {
    width: 100%;
    max-width: 575px;
}

/* heart icon */

.restaurant_menu__heart_icon {
    margin-left: 37px;
}

.restaurant_menu__heart_icon--aligned_at_the_end {
    margin-left: 84px;
}

/* menu dishes */

 /* desserts,dishes,entries,title color */

.restaurant_menu__entries, 
.restaurant_menu__dishes,
.restaurant_menu__dessert {
    color: #5c5c5c;
}

.restaurant_menu__entries {
    margin: 0px;
}

 /* desserts,dishes,entries title border */

.restaurant_menu__entries--border::after,
.restaurant_menu__dishes--border::after, 
.restaurant_menu__dessert--border::after { 
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--green);
    margin-top: 4px;
} 

.restaurant_menu__dishes_description {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 1px 1px 5px #e6e6e6;
    border-radius: 14px;
    margin: 14px 0px;
    height: 68px;
    width: 100%;
    /* max-width: 349px; */
    overflow: hidden;
    cursor: pointer;
}

/* menu restaurant slightly delayed */

.restaurant_menu__dishes_description--delay_1 {
    animation: menu-slightly-delayed .3s ease-out both;
}

.restaurant_menu__dishes_description--delay_2 {
    animation: menu-slightly-delayed .6s ease-out both;
}


.restaurant_menu__dishes_description--delay_3 {
    animation: menu-slightly-delayed .9s ease-out both;
}
.restaurant_menu__dishes_description--delay_4 {
    animation: menu-slightly-delayed 1.2s ease-out both;
}

.restaurant_menu__dishes_description--delay_5 {
    animation: menu-slightly-delayed 1.5s ease-out both;
}

.restaurant_menu__dishes_description--delay_6 {
    animation: menu-slightly-delayed  2.1s ease-out both;
}

.restaurant_menu__dishes_description--delay_7 {
    animation: menu-slightly-delayed 2.4s ease-out both;
}

.restaurant_menu__dishes_description--delay_8 {
    animation: menu-slightly-delayed 2.7s ease-out both;
}

.restaurant_menu__dishes_description--delay_9 {
    animation: menu-slightly-delayed 3s ease-out both;
}

.restaurant_menu__dishes_description--delay_10 {
    animation: menu-slightly-delayed 3.3s ease-out both;
}

@keyframes menu-slightly-delayed {
    0% , 50%  {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* dishes content */

.restaurant_menu__dishes_content {
    overflow: hidden;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 11px;
}

/* title Suspension point  */

.restaurant_menu__dish_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black);
    font-size: 17px;
    margin: 0px;
}

/* text Suspension point */

.restaurant_menu__dish_text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black);
    font-size: 15px;
    font-weight:300;
    margin-top: 4px;
    margin-bottom: 0px
}

/* dish price */

.restaurant_menu__dish_price {
    display: flex;
    align-items: flex-end;
    color: var(--dark-gray);
    font-weight: 600;
    position: relative;
    left: 18px;
    margin-top: 0px;
    margin-bottom: 12px;
}

/* dish validation button */

.restaurant_menu__dish_validation {
    background-color: var(--green);
    width: 59px;
    flex: none;
    border-radius: 0px 14px 14px 0px;
    display: flex;
    justify-content: var(--inthecenter);
    align-items: var(--inthecenter);
    transform: translateX(59px);
    transition: transform 0.6s, margin-left 0.6s;
}

/* dishes validation sliding  button */

.restaurant_menu__dishes_description:hover 
.restaurant_menu__dish_validation  {
    transform: translateX(0px);
    margin-left: 23px;
}

.restaurant_menu__dishes_description:hover 
.restaurant_menu__check_circle {
    transform: rotate(1turn);
}

 /* confirmation icon */

.restaurant_menu__check_circle {
  color: var(--white);
  font-size: 20px;
  transition: transform 0.8s;
}

/* command bouton */

.restaurant_menu__command_bouton {
    margin-top: 46px;
    margin-bottom: 58px;
}

/* responsive tablets(768px and up) */

@media only screen and (min-width: 768px) {
    
    /* presentation section */
    
    .presentation__title {
        width: initial;
        max-width: initial;
    }

    .presentation__description__container {
        max-width: 379px;
    }

    /* restaurant card section */

    .restaurant__title {
        width: initial;
        max-width: initial;
        margin-bottom: 39px;
    }

    .restaurant__card_container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 10px
    }

    .restaurant__card_setting {
        margin-left: 23px
    }

    /* Footer */

    .footer__title {
        text-align: center;
    }

    .footer__list {
        align-items: center;
    }

    /*  menu page */
 
    .restaurant_menu__container {
        max-width: 630px;
    }

    .restaurant_menu__dishes_description {
        max-width: initial;
    }
}

/* responsive desktop and laptop */

@media only screen and (min-width:992px) {

    /* presentation section */

    .presentation {
        margin-top: 25px;
    }

    .presentation__container {
     flex-direction: row;   
     justify-content: space-evenly;     
     margin-top: 30px;
    }

    .presentation__description__container:nth-child(1) {
        margin-right: 50px;
    }

    .presentation__description__container:nth-child(2) {
        margin-right: 30px;
    }

    /* restaurant card section */

    .restaurant {
        margin-top: 55px ;
    }

    /*  menu image  */

    .menu_image_setting {
        height: 325px;
     }

    /* footer */

    .footer__list {
        flex-direction: row;
        justify-content: center;
    }

    .footer__item {
        margin-left: 13px;
        margin-bottom: initial;
    }
}